*.pyc
*.o
*.so
.idea/workspace.xml
test-swig/test_swig.py
test-swig/test_swig_wrap.c
test-swig/test_swig_opencv.py
test-swig/test_swig_opencv_wrap.cxx
anki-sin-cos/anki-sin-cos-table.txt
json-memoize/json_memoize*.json
*.log
